@using HoneyShop.ViewModels.Shop
@model HoneyShop.ViewModels.Shop.ShopIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-items set-bg" data-setbg="img/hero-1.png">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>Honey</span>
                        <h1>Advantages of Honey</h1>
                        <p>
                            Honey is a natural sweetener rich in antioxidants, which help reduce inflammation and support immune health.
                            It also has antimicrobial properties that can aid in wound healing and soothe sore throats.
                        </p>
                        <a asp-controller="Shop" asp-action="Index" class="primary-btn">Shop Now</a>
                    </div>
                </div>
                <div class="off-card">
                    <h2>Sale <span>50%</span></h2>
                </div>
            </div>
        </div>
        <div class="single-hero-items set-bg" data-setbg="img/hero-2.png">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>Bee Pollen</span>
                        <h1>Healthy Bee Pollen</h1>
                        <p>
                            Bee pollen is packed with proteins, vitamins, and antioxidants that support energy, immunity, and overall vitality.
                            It may also reduce inflammation and help balance the body’s response to stress and allergies.
                        </p>
                        <a asp-controller="Shop" asp-action="Index" class="primary-btn">Shop Now</a>
                    </div>
                </div>
                <div class="off-card">
                    <h2>Sale <span>40%</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Banner Section Begin -->
<div class="banner-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="img/banner-1.png" alt="">
                    <div class="inner-text">
                        <h4>Honey</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="img/banner-2.png" alt="">
                    <div class="inner-text">
                        <h4>Bee Pollen</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="img/banner-3.png" alt="">
                    <div class="inner-text">
                        <h4>Beewax</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->
<!-- Women Banner Section Begin -->
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="img/products/honey.png">
                    <h2>Honey Products</h2>
                    <a asp-controller="Shop" asp-action="Index">Discover More</a>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    <ul>
                        <li class="active">Latest Products</li>
                    </ul>
                </div>
                <div class="product-slider owl-carousel">
                    @foreach (var product in Model.Products)
                    {
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="@product.ImageUrl" alt="">
                                <div class="sale">Sale</div>
                                <ul>
                                    <li class="quick-view"><a asp-controller="Shop" asp-action="DetailsProduct" asp-route-id="@product.Id">+ Quick View</a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">@product.Category.Name</div>
                                <a href="#">
                                    <h5>@product.Name</h5>
                                </a>
                                <div class="product-price">
                                    @product.Price
                                    <span>$35.00</span>
                                </div>
                            </div>

                        </div>
                    }
                    @* <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/products/women-2.jpg" alt="">
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="#">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Shoes</div>
                            <a href="#">
                                <h5>Guangzhou sweater</h5>
                            </a>
                            <div class="product-price">
                                $13.00
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/products/women-3.jpg" alt="">
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="#">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Towel</div>
                            <a href="#">
                                <h5>Pure Pineapple</h5>
                            </a>
                            <div class="product-price">
                                $34.00
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/products/women-4.jpg" alt="">
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="#">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Towel</div>
                            <a href="#">
                                <h5>Converse Shoes</h5>
                            </a>
                            <div class="product-price">
                                $34.00
                            </div>
                        </div> 
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</section>