@using HoneyShop.ViewModels.Shop
@model HoneyShop.ViewModels.Shop.ShopIndexViewModel

@{
    ViewData["Title"] = "Shop";
}
<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->
<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                <div class="filter-widget">
                    <h4 class="fw-title">Categories</h4>
                    <ul class="filter-catagories">
                        @foreach (var category in Model.Categories)
                        {
                            <li><a href="#">@category.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="filter-widget">
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Price</h4>
                    <div class="filter-range-wrap">
                        <div class="range-slider">
                            <div class="price-input">
                                <input type="text" id="minamount">
                                <input type="text" id="maxamount">
                            </div>
                        </div>
                        <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                             data-min="33" data-max="98">
                            <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                        </div>
                    </div>
                    <a href="#" class="filter-btn">Filter</a>
                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="product-show-option">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="select-option">
                                <select class="sorting">
                                    <option value="">Default Sorting</option>
                                </select>
                                <select class="p-show">
                                    <option value="">Show:</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 text-right">
                            <p>Show 01- 09 Of 36 Product</p>
                        </div>
                    </div>
                </div>
                <div class="product-list">
                    <div class="row">
                        @if (Model.Products == null || !Model.Products.Any())
                        {
                            <div class="alert alert-info text-center my-4">Stay tuned! Currently we don't have published Products in our Shop</div>
                        }
                        else
                        {
                            @foreach (GetAllProductsViewModel product in Model.Products)
                            {
                                <div class="col-lg-4 col-sm-6">

                                    <div class="product-item">
                                        <div class="pi-pic">
                                            <a asp-controller="Shop" asp-action="DetailsProduct" asp-route-id="@product.Id">
                                                <img src="@product.ImageUrl" alt="">
                                            </a>
                                            <div class="sale pp-sale">Sale</div>
                                            <div class="icon">
                                                <i class="icon_heart_alt"></i>
                                            </div>
                                            <ul>
                                                @if ((User?.Identity?.IsAuthenticated == true))
                                                {
                                                    //TODO Fix this to look better
                                                    <li class="w-icon active">
                                                        <form asp-controller="Cart" asp-action="Add" asp-route-id="@product.Id" method="post" style="display:inline;">
                                                            <button type="submit" style="background:none;border:none;padding:0;cursor:pointer;">
                                                                <i class="icon_bag_alt"></i>
                                                            </button>
                                                        </form>
                                                    </li> 
                                                }
                                                <li class="quick-view"><a asp-controller="Shop" asp-action="DetailsProduct" asp-route-id="@product.Id">+ Quick View</a></li>
                                            </ul>
                                        </div>
                                        <div class="pi-text">
                                            <div class="catagory-name">@product.Category.Name</div>
                                            <a asp-controller="Shop" asp-action="DetailsProduct" asp-route-id="@product.Id">
                                                <h5>@product.Name</h5>
                                            </a>
                                            <div class="product-price">
                                                @product.Price
                                                <span>@product.Price</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="loading-more">
                    <i class="icon_loading"></i>
                    <a href="#">
                        Loading More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->
